{% extends "base.html" %}

{% block content %}

<h1 class="text-center mb-5"> Linear Regression Application</h1>

<div class="row g-4">

    <div class="col-md-6">
        <div class="card-custom">
            <h3>Problem</h3>
            <p>
                Predict happiness score based on GDP per capita.
            </p>

            <h3 class="mt-3">Dataset</h3>
            <p>
                World Happiness Report
            </p>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card-custom">
            <h3>Variables</h3>
            <ul>
                <li><strong>Independent Variable:</strong> GDP per capita</li>
                <li><strong>Dependent Variable:</strong> Happiness Score</li>
            </ul>

            <h3 class="mt-3">Interpretation</h3>
            <p>
                Higher GDP is generally associated with higher happiness.
            </p>
        </div>
    </div>

    <div class="col-12 text-center">
        <div class="card-custom">
            <h3>Run the Model</h3>
            <p>Try the prediction system using real input data.</p>

            <a href="/OilLinearRegression" class="btn btn-success me-2">
                Go to Prediction
            </a>

            <a href="/Menu" class="btn btn-secondary">
                Back to Home
            </a>
        </div>
    </div>
    

</div>

{% endblock %}