{% extends "base.html" %}

{% block content %}

<h1 class="text-center mb-5">Happiness Prediction (Linear Regression)</h1>

<div class="row justify-content-center">

    <div class="col-md-6">
        <div class="card-custom text-center">

            <h3>Enter GDP per Capita</h3>

            <form method="post">
                <div class="mb-3">
                    <input type="number" step="any" name="gdp" 
                           class="form-control" placeholder="e.g. 1.5" required>
                </div>

                <button type="submit" class="btn btn-success">
                    Predict
                </button>
            </form>

            {% if result is not none %}
                <div class="mt-4">
                    <h4>Estimated Happiness Score:</h4>
                    <h2 class="text-success">{{ result }}</h2>
                </div>
            {% endif %}

            {% if plot %}
                <div class="mt-4">
                    <h4>Regression Graph</h4>
                    <img src="data:image/png;base64,{{ plot }}" 
                         class="img-fluid mt-3" alt="Regression Graph"/>
                </div>
            {% endif %}

        </div>
    </div>

</div>

{% endblock %}